<div id="<%= dom_id cow %>">
  <p>
    <strong>Tag:</strong>
    <%= cow.tag %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= cow.dob %>
  </p>

  <p>
    <strong>Dam:</strong>
    <%= cow.dam %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= cow.breed %>
  </p>

  <p>
    <strong>Docility:</strong>
    <%= cow.docility %>
  </p>

  <p>
    <strong>Aggression:</strong>
    <%= cow.aggression %>
  </p>

  <p>
    <strong>Fertility:</strong>
    <%= cow.fertility %>
  </p>

  <p>
    <strong>Calving:</strong>
    <%= cow.calving %>
  </p>

  <p>
    <strong>Calfquality:</strong>
    <%= cow.calfquality %>
  </p>

  <p>
    <strong>Milk:</strong>
    <%= cow.milk %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cow.user_id %>
  </p>

</div>
