<p style="color: green"><%= notice %></p>

<%= render @cow %>

<div>
  <%= link_to "Edit this cow", edit_cow_path(@cow) %> |
  <%= link_to "Back to cows", cows_path %>

  <%= button_to "Destroy this cow", @cow, method: :delete %>
</div>
